{% extends "layout.html" %}
{% block content %}
<form action = "" method ="POST" >
    {{ form.hidden_tag() }}
      <fieldset>
      <legend>Heart Disease Detection Form</legend><br>
      <div class="form-group">
        {{ form.picture.label() }}
        <!-- input field below to upload the picture: -->
        {{ form.picture(class="form-control-file") }}
        {% if form.picture.errors %}
            {% for error in form.picture.errors %}
                <span class="text-danger">{{ error }}</span></br>
            {% endfor %}
        {% endif %}
    </div>
      <div class="form-group">
        {{ form.submit(class="btn btn-outline-info") }}
    </div>
      </fieldset>
</form>

{% endblock content %}