{% extends "layout.html" %}
{% block content %}
   
    {% if current_user.is_authenticated %}
        <h1>My Medical Records</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>Age</th>
                    <th>Sex</th>
                    <th>CP</th>
                    <th>Resting BP</th>
                    <th>Cholesterol</th>
                    <th>FBS</th>
                    <th>Resting ECG</th>
                    <th>Thalach</th>
                    <th>Exang</th>
                    <th>Oldpeak</th>
                    <th>Slope</th>
                    <th>CA</th>
                    <th>Thal</th>
                    <th>Date Posted</th>
                    <th>Result</th>
                </tr>
            </thead>
            <tbody>
                {% for record in user_medical_records %}
                <tr>
                    <td>{{ record.age }}</td>
                    <td>{{ record.sex }}</td>
                    <td>{{ record.cp }}</td>
                    <td>{{ record.trestbps }}</td>
                    <td>{{ record.cholestrol }}</td>
                    <td>{{ record.fbs }}</td>
                    <td>{{ record.restecg }}</td>
                    <td>{{ record.thalach }}</td>
                    <td>{{ record.exang }}</td>
                    <td>{{ record.oldpeak }}</td>
                    <td>{{ record.slope }}</td>
                    <td>{{ record.ca }}</td>
                    <td>{{ record.thal }}</td>
                    <td>{{ record.date_posted.strftime('%Y-%m-%d')}}</td>
                    <td>{{ record.result }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <span>NOT LOGGED IN!</span>
    {% endif %}
{% endblock content %}